/* font-family: 'Manrope', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* ========================================================================= */
/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERIES
*/
/* ========================================================================= */
/* 1. GLOBAL */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  background-color: hsl(230deg, 60%, 8%);
  color: rgb(118, 127, 152);
  height: 100%;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */
/* MAIN | TYPOGRAPHY */
#main h1 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 40px;
}
#main h1 .accent {
  color: rgb(62, 233, 229);
}
#main p {
  text-align: center;
}

/* SECTION | TYPOGRAPHY */
#maker-lifestyle .component .title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
}
#maker-lifestyle .component .description {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

/* PRICING | TYPOGRAPHY */
.pricing-info .h2-title {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.pricing-info .p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.price-free .price-title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.price-free .price-description {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.price-details .price-amount {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.price-details .product {
  color: rgb(255, 255, 255);
}

.price-paid, .pd-title {
  color: rgb(8, 12, 32) !important;
}

.pd-description {
  color: rgb(8, 12, 32) !important;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.dollar-amount {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  font-style: normal;
}
.dollar-amount small {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #080C20;
  mix-blend-mode: normal;
  opacity: 0.6;
}

/* ========================================================================= */
/* 3. LAYOUT */
/* LOGO | LAYOUT */
#logo {
  margin-top: 30.1px;
  margin-bottom: 65.5px;
}

#hero-img-mobile {
  width: 375px;
  position: relative;
  overflow: hidden;
}

.bg-hero-img {
  display: none;
}

/* MAIN | LAYOUT */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main h1 {
  height: 122px;
  width: 250px;
  margin-top: 39px;
}
#main p {
  height: 100px;
  width: 327px;
  margin-top: 0;
  margin-bottom: 32px;
}

/* SECTION | LAYOUT */
#maker-lifestyle {
  height: 1134px;
  width: 327px;
  margin: 135px 0;
}
#maker-lifestyle .component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* ILLUSTRATION ICONS | LAYOUT */
  /* TEXT BOX | LAYOUT */
}
#maker-lifestyle .component .bg-color {
  height: 124px;
  width: 120px;
  border-radius: 45px;
  background-color: rgb(9, 62, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#maker-lifestyle .component .bg-color .egg {
  height: 80px;
  width: 66px;
  margin: 22px 24px 22px 30px;
}
#maker-lifestyle .component .bg-color .money {
  height: 67px;
  width: 56px;
  margin: 28px 32px;
}
#maker-lifestyle .component .bg-color .martini {
  height: 71px;
  width: 60px;
  margin: 27px 30px 26px 30px;
}
#maker-lifestyle .component .bg-color .car {
  height: 56px;
  width: 78px;
  margin: 34px 21px 33px 21px;
}
#maker-lifestyle .component .title {
  height: 25px;
  margin: 31px 0 11px 0;
}
#maker-lifestyle .component .description {
  height: 50px;
  margin: 0 0 56px 24px;
}
#maker-lifestyle .component .lifestyle, #maker-lifestyle .component .travel {
  width: 100%;
  margin-left: -1px;
}

/* PRICING | LAYOUT */
#pricing {
  margin: 0;
  padding: 0;
  /* FREE | LAYOUT */
}
#pricing .pricing-info {
  width: 327px;
  margin: 0 24px;
}
#pricing .pricing-info .p {
  margin-top: 26px;
}
#pricing .price-free {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: rgb(9, 62, 103);
  height: 436px;
  width: 327px;
  border-radius: 8px;
  margin: 79px 24px 32px 24px;
}
#pricing .price-free .circle-icon {
  position: absolute;
  top: -23px;
  left: 30px;
}
#pricing .price-title {
  height: 25px;
  width: 107px;
  margin: 49px 0 0 30px;
}
#pricing .price-description {
  height: 75px;
  width: 268px;
  margin: 19px 0 26px 30px;
}

/* FREE | DETAILS & CHECK ITEMS | LAYOUT */
.price-details {
  height: 210px;
  width: 269px;
  margin: 0 28.68px 32px 29.32px;
}
.price-details .check-bullets {
  margin-top: 19px;
}
.price-details .products {
  margin-bottom: 12px;
}
.price-details .products .checkmark {
  margin-right: 15.32px;
}
.price-details .products .last {
  margin-bottom: 32px;
}

/* PAID | LAYOUT */
.price-paid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: rgb(62, 233, 229);
  height: 448px;
  width: 327px;
  border-radius: 8px;
  margin: 66px 24px 32px 0;
}
.price-paid .geometric-icon {
  position: absolute;
  top: -34px;
  left: 30px;
}

.pd-title {
  margin-top: 29px;
  margin-bottom: 19px;
}

.pd-description {
  height: 75px;
  width: 268px;
  margin-bottom: 26px;
}

.price-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  width: 205px;
  height: 55px;
  margin-left: 30.5px;
}

.pd-check-bullets {
  width: 269px;
  height: 136px;
  margin-left: 30.32px;
}

.products {
  margin-bottom: 12px;
}
.products .check {
  margin-right: 15.32px;
}
.products .last {
  margin-bottom: 32px;
}

footer {
  position: relative;
}

/* ========================================================================= */
/* 4. MEDIA QUERIES *//*# sourceMappingURL=style.css.map */