/* font-family: 'Manrope', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
/* ========================================================================= */

/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERIES
*/

/* ========================================================================= */

/* 1. GLOBAL */
$accent: rgb(62, 233, 229);
$secondary: rgb(9, 62, 103);
$white: rgb(255, 255, 255);
$grey: rgb(118, 127, 152);
$background: hsla(230, 60%, 8%, 1);
$error: rgb(255, 41, 101);
@mixin flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin reset{
  margin: 0;
  padding: 0;
}
@mixin heading1 {
  font-family: 'Manrope', sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0px;
}
@mixin heading2 {
  font-family: 'Manrope', sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
}
@mixin heading3 {
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
}
@mixin heading4 {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
}
@mixin description {
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
}

body {
  @include reset;
  @include flexbox;
  @include description;
  background-color: $background;
  color: $grey;
  height: 100%;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */
/* MAIN | TYPOGRAPHY */
#main {
  h1 {
    @include heading3;
    color: $white;
    text-align: center;
    line-height: 40px;
    .accent {
      color: $accent;
    }
  }
  p {
    text-align: center;
  }
}
/* SECTION | TYPOGRAPHY */
#maker-lifestyle {
  .component {
    .title {
      @include heading4;
      color: $white;
      text-align: center;
    }
    .description {
      @include description;
      text-align: center;
    }
  }
}

/* PRICING | TYPOGRAPHY */
.pricing-info {
  .h2-title {
    @include heading2;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: $white;
  }
  .p {
    @include description;
    text-align: center;
  }
}
// FREE CONTAINER | TYPOGRAPHY
.price-free {
  .price-title {
    @include heading4;
    text-align: left;
    color: $white;
  }
  .price-description {
    @include description;
    text-align: left;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.6;
  }
}
// FREE DETAILS | TYPOGRAPHY
.price-details {
  .price-amount {
    @include heading2;
    color: $white;
  }
  // FREE CHECK ITEMS | TYPOGRAPHY
  .product {
    color: $white;
  }
}

.price-paid, .pd-title {
  color: rgba(8, 12, 32, 1) !important;
}
.pd-description {
  color: rgba(8, 12, 32, 1) !important;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.dollar-amount {
  @include heading2;
  font-style: normal;
  small {
  @include description;
  color: #080C20;
  mix-blend-mode: normal;
  opacity: 0.6;
  }
}

.notification-txt {
  .notified-title {
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    text-align: center;
    color: $white;
  }
  #email {
    background-color: $secondary;
    color: $white;
    cursor: text;
    font-size: 16px;
    font-weight: 600;
  }

  #submit {
    background-color: $accent;
    font-weight: 700;
    cursor: pointer;
    font-size: 16px;
  }
}

/* ========================================================================= */
/* 3. LAYOUT */
/* LOGO | LAYOUT */
#logo {
  margin-top: 30.1px;
  margin-bottom: 65.5px;
}
#hero-img-mobile {
  width: 375px;
  position: relative;
  overflow: hidden;
}
.bg-hero-img {
  display: none;
}
/* MAIN | LAYOUT */
#main {
  @include flexbox;
  h1 {
    height: 122px;
    width: 250px;
    margin-top: 39px;
  }
  p {
    height: 100px;
    width: 327px;
    margin-top: 0;
    margin-bottom: 32px;
  }
}

/* SECTION | LAYOUT */
#maker-lifestyle {
  height: 1134px;
  width: 327px;
  margin: 135px 0;
  .component {
    @include flexbox;
    /* ILLUSTRATION ICONS | LAYOUT */
    .bg-color {
      height: 124px;
      width: 120px;
      border-radius: 45px;
      background-color: $secondary;
      @include flexbox;
      .egg {
        height: 80px;
        width: 66px;
        margin: 22px 24px 22px 30px;
      }
      .money {
        height: 67px;
        width: 56px;
        margin: 28px 32px;
      }
      .martini {
        height: 71px;
        width: 60px;
        margin: 27px 30px 26px 30px;
      }
      .car {
        height: 56px;
        width: 78px;
        margin: 34px 21px 33px 21px;
      }
    }
    /* TEXT BOX | LAYOUT */
    .title {
      height: 25px;
      margin: 31px 0 11px 0;
    }
    .description {
      height: 50px;
      margin: 0 0 56px 24px;
    }
    .lifestyle, .travel {
      width: 100%;
      margin-left: -1px;
    }
  }
}

/* PRICING | LAYOUT */
#pricing {
  @include reset;
  height: 1163px;
  margin-bottom: 144px;

  .pricing-info{
    width: 327px;
    margin: 0 24px;
    .p {
      margin-top: 26px;
    }
  }

  /* FREE | LAYOUT */
  .price-free {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    background-color: $secondary;
    height: 436px;
    width: 327px;
    border-radius: 8px;
    margin: 79px 24px 32px 24px;
    .circle-icon {
      position: absolute;
      top: -23px;
      left: 30px;
    }
}

.price-title {
  height: 25px;
  width: 107px;
  margin: 49px 0 0 30px;
}
.price-description {
  height: 75px;
  width: 268px;
  margin: 19px 0 26px 30px;
}
}
/* FREE | DETAILS & CHECK ITEMS | LAYOUT */
.price-details {
  height: 210px;
  width: 269px;
  margin: 0 28.68px 32px 29.32px;
  .check-bullets {
    margin-top: 19px;
  }
  .products {
    margin-bottom: 12px;
    .checkmark {
      margin-right: 15.32px;
    }
    .last {
      margin-bottom: 32px; 
    }
  }
}

/* PAID | LAYOUT */
.price-paid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: $accent;
  height: 455px;
  width: 327px;
  border-radius: 8px;
  margin: 66px 24px 144px 0;
  padding-top: 11px;
  padding-bottom: 32px;
  .geometric-icon {
    position: absolute;
    top: -34px;
    left: 30px;
  }
}
.pd-title {
  margin-top: 29px;
  margin-bottom: 19px;
}
.pd-description {
  height: 75px;
  width: 268px;
  margin-bottom: 26px;
}

.price-amount {
  @include flexbox;
  flex-direction: row;
  justify-content: space-between;
  width: 205px;
  height: 55px;
  margin-left: 30.5px;
}
.pd-check-bullets {
  width: 269px;
  height: 136px;
  margin-left: 30.32px;
  margin-top: 19px;
}

.products {
  margin-bottom: 12px;
  .check {
    margin-right: 15.32px;
  }
  .last {
    margin-bottom: 32px; 
  }
}

/* FOOTER  | GET NOTIFIED | LAYOUT */
#get-notified {
  width: 375px;
  z-index: 99;
  overflow: hidden;
}
.notified-img {
  position: relative;
  object-fit: stretch;
  margin-top: 15px;
  left: -100px;
}
.notification-txt {
  // background-color: pink;
  @include flexbox;
  position: absolute;
  height: 218px;
  width: 328px;
  margin: 0 23.5px;
  margin-top: -93px;
  padding-bottom: 164px;
  .notified-title {
    height: 67px;
    width: 230px;
    margin-bottom: 31px;
  }
  
}
.input {
  width: 327px;
  #email {
    height: 48px;
    width: 307.9px;
    border-radius: 24px;
    border: none;
    padding-left: 18px;
    margin-bottom: 24px;
  }
  #submit {
    height: 48px;
    width: 327px;
    border-radius: 24px;
    border: none;
  }
}
/* ========================================================================= */
/* 4. MEDIA QUERIES */
@media all and (min-width: 768px) {
  body {
    align-items: flex-start;
  }
  #logo {
    margin-left: 39px;
    margin-top: 48px;
    margin-bottom: 10px;
  }

  #hero-img-mobile {
    display: none;
  }

  .bg-hero-img {
    display: block;
    position: relative;
    width: 768px;
    @include flexbox;
    flex-direction: row;
    overflow: hidden;
    #hero-squiggle {
      width: 386px;
      height: 268px;
      margin-left: 45px;
      margin-right: 45px;
      margin-top: 50px;
    }
    .drawing {
      margin-top:70px;
    }
    #hero-left {
      width: 314px;
      height: 356px;
    }
    #hero-right {
      width: 317px;
      height: 346px;
      margin-top: 56px;
    }
  }

  /* MAIN */
  #main {
    position: absolute;
    top: 128px;
    left: 191px;
    h1 {
      width: 350px;
      margin-top: 80px;
      margin-bottom: 0;
      @include heading3;
    }
    p {
      width: 457px;
      margin-top: -14px;
    }
    .scroll {
      margin-top: -26px;
    }
  }
  /* LIFESTYLE SECTION */
  #maker-lifestyle {
    width: 573px;
    height: 614px;
    margin-left: 97px;
    margin-right: 98px;
    margin-top: 73px;
    // COMPONENT LAYOUT
    :nth-child(odd) {
      margin-left: 30px;
    }
    :nth-child(even) {
      margin-left: -90px;
    }
    .component {
      flex-direction: row;
      margin-top: -5px;
      .bg-color {
        width: 120px;
        height: 123px;
      }
    }
    .layout {
      margin-top: -34px;
    }
    // COMPONENT TEXT
    .component-txt {
      margin-left: 55px;
      margin-top: 23.5px;
      .title, .description {
        text-align: left;
      }
      .description {
        margin-left: 0;
        width: 340px;
      }
    }
  }
  /* PRICING SECTION */
  #pricing {
    width: 573px;
    height: 110px;
    margin: 13px 98px 1020px 91px;
    .pricing-info {
      width: 100%;
    }
    .h2-title {
      font-size: 24px;
      line-height: 32.78px;
      margin-top: 22px;
    }
    // FREE
    .price-free {
      width: 100%;
      width: 445px;height: 427px;
      margin-top: 75px;
      margin-left: 91px;
      padding-left: 3px;
      .price-description {
        width: 369px;
        margin-top: 23px;
      }
    }
  }
  // FREE | DETAILS & CHECK ITEMS
  .price-details {
    margin-top: -3.5px;
  }
  .price-amount {
    margin-left: 0;
  }.products {
    .last {
      margin-bottom: 48px;
    }
  }

  /* PAID */
  .price-paid {
    height: 482px;
    width: 445px;
    margin-top: 82px;
    padding-bottom: 59px;
  }
  .dollar-amount {
    margin-top: -28px;
    margin-left: 30px;
  }

  /* FOOTER  | GET NOTIFIED */
  #get-notified {
    width: 768px;
  }
  .notified-img {
    width: 1022px;
    height: 140px;
    position: relative;
    left: -240px;
    margin-top: 138px;
  }
  .notification-txt {
    width: 476px;
    height: 110px;
    margin-left: 145px;
    margin-bottom: 40px;
    margin-top: -125px;
    .notified-title {
      width:100%;
    }
  }
  .input {
    width: 476px;
    display: flex;
    flex-direction: row;
    #email {
      width: 320px;
      margin-right: 16px;
    }
    #submit {
      width: 140px;
    }
  }
}