/* font-family: 'Manrope', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* ========================================================================= */
/* TABLE OF CONTENTS
1. GLOBAL
2. TYPOGRAPHY
3. LAYOUT
4. MEDIA QUERIES
*/
/* ========================================================================= */
/* 1. GLOBAL */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  background-color: hsl(230deg, 60%, 8%);
  color: rgb(118, 127, 152);
  height: 100%;
}

/* ========================================================================= */
/* 2. TYPOGRAPHY */
/* MAIN | TYPOGRAPHY */
#main h1 {
  font-family: "Manrope", sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 44px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 40px;
}
#main h1 .accent {
  color: rgb(62, 233, 229);
}
#main p {
  text-align: center;
}

/* SECTION | TYPOGRAPHY */
#maker-lifestyle .component .title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  text-align: center;
}
#maker-lifestyle .component .description {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

/* PRICING | TYPOGRAPHY */
.pricing-info .h2-title {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.pricing-info .p {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.price-free .price-title {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
}
.price-free .price-description {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: rgb(255, 255, 255);
  mix-blend-mode: normal;
  opacity: 0.6;
}

.price-details .price-amount {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
}
.price-details .product {
  color: rgb(255, 255, 255);
}

.price-paid, .pd-title {
  color: rgb(8, 12, 32) !important;
}

.pd-description {
  color: rgb(8, 12, 32) !important;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.dollar-amount {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 55px;
  letter-spacing: 0px;
  font-style: normal;
  color: #080C20 !important;
}
.dollar-amount small {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #080C20;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.product-pd {
  color: rgb(8, 12, 32) !important;
}

.notification-txt .notified-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.notification-txt #email {
  background-color: rgb(9, 62, 103);
  color: rgb(255, 255, 255);
  cursor: text;
  font-size: 16px;
  font-weight: 600;
}
.notification-txt #submit {
  background-color: rgb(62, 233, 229);
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}

/* ========================================================================= */
/* 3. LAYOUT */
/* LOGO | LAYOUT */
#logo {
  margin-top: 30.1px;
  margin-bottom: 65.5px;
}

#hero-img-mobile {
  width: 375px;
  position: relative;
  overflow: hidden;
}

.bg-hero-img {
  display: none;
}

/* MAIN | LAYOUT */
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#main h1 {
  height: 122px;
  width: 250px;
  margin-top: 39px;
}
#main p {
  height: 100px;
  width: 327px;
  margin-top: 0;
  margin-bottom: 32px;
}

/* SECTION | LAYOUT */
#maker-lifestyle {
  height: 1134px;
  width: 327px;
  margin: 135px 0;
}
#maker-lifestyle .component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* ILLUSTRATION ICONS | LAYOUT */
  /* TEXT BOX | LAYOUT */
}
#maker-lifestyle .component .bg-color {
  height: 124px;
  width: 120px;
  border-radius: 45px;
  background-color: rgb(9, 62, 103);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#maker-lifestyle .component .bg-color .egg {
  height: 80px;
  width: 66px;
  margin: 22px 24px 22px 30px;
}
#maker-lifestyle .component .bg-color .money {
  height: 67px;
  width: 56px;
  margin: 28px 32px;
}
#maker-lifestyle .component .bg-color .martini {
  height: 71px;
  width: 60px;
  margin: 27px 30px 26px 30px;
}
#maker-lifestyle .component .bg-color .car {
  height: 56px;
  width: 78px;
  margin: 34px 21px 33px 21px;
}
#maker-lifestyle .component .title {
  height: 25px;
  margin: 31px 0 11px 0;
}
#maker-lifestyle .component .description {
  height: 50px;
  margin: 0 0 56px 24px;
}
#maker-lifestyle .component .lifestyle, #maker-lifestyle .component .travel {
  width: 100%;
  margin-left: -1px;
}

/* PRICING | LAYOUT */
#pricing {
  margin: 0;
  padding: 0;
  height: 1163px;
  margin-bottom: 144px;
  /* FREE | LAYOUT */
}
#pricing .pricing-info {
  width: 327px;
  margin: 0 24px;
}
#pricing .pricing-info .p {
  margin-top: 26px;
}
#pricing .price-free {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: rgb(9, 62, 103);
  height: 436px;
  width: 327px;
  border-radius: 8px;
  margin: 79px 24px 32px 24px;
}
#pricing .price-free .circle-icon {
  position: absolute;
  top: -23px;
  left: 30px;
}
#pricing .price-title {
  height: 25px;
  width: 107px;
  margin: 49px 0 0 30px;
}
#pricing .price-description {
  height: 75px;
  width: 268px;
  margin: 19px 0 26px 30px;
}

/* FREE | DETAILS & CHECK ITEMS | LAYOUT */
.price-details {
  height: 210px;
  width: 269px;
  margin: 0 28.68px 32px 29.32px;
}
.price-details .check-bullets {
  margin-top: 19px;
}
.price-details .products {
  margin-bottom: 12px;
}
.price-details .products .checkmark {
  margin-right: 15.32px;
}
.price-details .products .last {
  margin-bottom: 32px;
}

/* PAID | LAYOUT */
.price-paid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  background-color: rgb(62, 233, 229);
  height: 400px;
  width: 327px;
  border-radius: 8px;
  margin: 98px 24px 144px -28px;
  padding-top: 11px;
  padding-bottom: 32px;
}
.price-paid .geometric-icon {
  position: absolute;
  top: -34px;
  left: 30px;
}

.pd-title {
  margin-top: 29px;
  margin-bottom: 19px;
}

.pd-description {
  height: 75px;
  width: 268px;
  margin-bottom: 26px;
}

.price-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  width: 205px;
  height: 55px;
  margin-left: 30.5px;
}

.pd-check-bullets {
  width: 269px;
  height: 136px;
  margin-left: 30.32px;
  margin-top: 19px;
}

.products {
  margin-bottom: 12px;
}
.products .check {
  margin-right: 15.32px;
}
.products .last {
  margin-bottom: 32px;
}

/* FOOTER  | GET NOTIFIED | LAYOUT */
#get-notified {
  width: 375px;
  z-index: 99;
  overflow: hidden;
}

.notified-img {
  position: relative;
  -o-object-fit: stretch;
     object-fit: stretch;
  margin-top: 15px;
  left: -100px;
}

.notification-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 218px;
  width: 328px;
  margin: 0 23.5px;
  margin-top: -93px;
  padding-bottom: 164px;
}
.notification-txt .notified-title {
  height: 67px;
  width: 230px;
  margin-bottom: 31px;
}

.input {
  width: 327px;
}
.input #email {
  height: 48px;
  width: 307.9px;
  border-radius: 24px;
  border: none;
  padding-left: 18px;
  margin-bottom: 24px;
}
.input #submit {
  height: 48px;
  width: 327px;
  border-radius: 24px;
  border: none;
}

/* ========================================================================= */
/* 4. MEDIA QUERIES */
@media all and (min-width: 768px) {
  body {
    align-items: flex-start;
  }

  #logo {
    margin-left: 39px;
    margin-top: 48px;
    margin-bottom: 10px;
  }

  #hero-img-mobile {
    display: none;
  }

  .bg-hero-img {
    display: block;
    position: relative;
    width: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    overflow: hidden;
  }
  .bg-hero-img #hero-squiggle {
    width: 386px;
    height: 268px;
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 50px;
  }
  .bg-hero-img .drawing {
    margin-top: 70px;
  }
  .bg-hero-img #hero-left {
    width: 314px;
    height: 356px;
  }
  .bg-hero-img #hero-right {
    width: 317px;
    height: 346px;
    margin-top: 56px;
  }

  /* MAIN | MQ 768 */
  #main {
    position: absolute;
    top: 128px;
    left: 191px;
  }
  #main h1 {
    width: 350px;
    margin-top: 80px;
    margin-bottom: 0;
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
  }
  #main p {
    width: 457px;
    margin-top: -14px;
  }
  #main .scroll {
    margin-top: -26px;
  }

  /* LIFESTYLE SECTION | MQ 768 */
  #maker-lifestyle {
    width: 573px;
    height: 614px;
    margin-left: 97px;
    margin-right: 98px;
    margin-top: 73px;
  }
  #maker-lifestyle :nth-child(odd) {
    margin-left: 30px;
  }
  #maker-lifestyle :nth-child(even) {
    margin-left: -90px;
  }
  #maker-lifestyle .component {
    flex-direction: row;
    margin-top: -5px;
  }
  #maker-lifestyle .component .bg-color {
    width: 120px;
    height: 123px;
  }
  #maker-lifestyle .layout {
    margin-top: -34px;
  }
  #maker-lifestyle .component-txt {
    margin-left: 55px;
    margin-top: 23.5px;
  }
  #maker-lifestyle .component-txt .title, #maker-lifestyle .component-txt .description {
    text-align: left;
  }
  #maker-lifestyle .component-txt .description {
    margin-left: 0;
    width: 340px;
  }

  /* PRICING SECTION | MQ 768 */
  #pricing {
    width: 573px;
    height: 110px;
    margin: 13px 98px 1020px 91px;
  }
  #pricing .pricing-info {
    width: 100%;
  }
  #pricing .h2-title {
    font-size: 24px;
    line-height: 32.78px;
    margin-top: 22px;
  }
  #pricing .price-free {
    width: 100%;
    width: 445px;
    height: 427px;
    margin-top: 75px;
    margin-left: 91px;
    padding-left: 3px;
  }
  #pricing .price-free .price-description {
    width: 369px;
    margin-top: 23px;
  }

  .price-details {
    margin-top: -3.5px;
  }

  .price-amount {
    margin-left: 0;
  }

  .products .last {
    margin-bottom: 48px;
  }

  /* PAID | MQ 768 */
  .price-paid {
    height: 380px;
    width: 445px;
    margin-top: 97px;
    padding-bottom: 59px;
  }

  .dollar-amount {
    margin-top: -28px;
    margin-left: 30px;
  }

  /* FOOTER | MQ 768 */
  #get-notified {
    width: 768px;
  }

  .notified-img {
    width: 1022px;
    height: 140px;
    position: relative;
    left: -240px;
    margin-top: 138px;
  }

  .notification-txt {
    width: 476px;
    height: 110px;
    margin-left: 145px;
    margin-bottom: 40px;
    margin-top: -125px;
  }
  .notification-txt .notified-title {
    width: 100%;
  }

  .input {
    width: 476px;
    display: flex;
    flex-direction: row;
  }
  .input #email {
    width: 320px;
    margin-right: 16px;
  }
  .input #submit {
    width: 140px;
  }
}
@media screen and (min-width: 1400px) {
  #logo {
    margin-left: 165px;
    margin-top: 81px;
    margin-bottom: 114px;
  }

  .bg-hero-img {
    width: 1440PX;
    margin-top: -100px;
  }
  .bg-hero-img #hero-squiggle {
    width: 544.31px;
    height: 377.98px;
    margin-left: 96.5px;
    margin-right: 96.5px;
    margin-top: -18px;
  }
  .bg-hero-img .drawing {
    margin-top: 100px;
  }
  .bg-hero-img #hero-left {
    width: 408px;
    height: 459px;
  }
  .bg-hero-img #hero-right {
    width: 396px;
    height: 444px;
    margin-top: 100px;
  }

  /* MAIN | MQ 1440 */
  #main {
    top: 230px;
    left: 450px;
  }
  #main h1 {
    width: 530px;
    margin-top: 68px;
    font-family: "Manrope", sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 56px;
    letter-spacing: 0px;
  }
  #main p {
    width: 540px;
    margin-top: 16px;
  }
  #main .scroll {
    margin-top: 7px;
  }

  /* LIFESTYLE SECTION | MQ 1440 */
  #maker-lifestyle {
    width: 1110px;
    height: 383px;
    margin-left: 165px;
    margin-right: 165px;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #maker-lifestyle :nth-child(odd) {
    margin-left: 0;
    margin-top: 23px;
  }
  #maker-lifestyle :nth-child(even) {
    margin-left: 0;
  }
  #maker-lifestyle .component {
    flex-direction: column;
    align-items: flex-start;
    width: 255px;
    height: 335px;
    margin-top: -5px;
  }
  #maker-lifestyle .component .bg-color {
    width: 160px;
    height: 164px;
  }
  #maker-lifestyle .component .bg-color .egg {
    height: 106px;
    width: 88px;
    margin: 29px 32px 29px 40px;
  }
  #maker-lifestyle .component .bg-color .money {
    height: 89px;
    width: 74px;
    margin: 38px 43px;
  }
  #maker-lifestyle .component .bg-color .martini {
    height: 94px;
    width: 80px;
    margin: 36px 40px 34px 40px;
  }
  #maker-lifestyle .component .bg-color .car {
    height: 74px;
    width: 104px;
    margin: 45px 28px;
  }
  #maker-lifestyle .component .component-txt {
    width: 235px;
    height: 123px;
  }
  #maker-lifestyle .component .component-txt .title {
    margin-top: 25px;
  }
  #maker-lifestyle .component .component-txt .description {
    width: 245px;
    height: 75px;
    margin-top: 24px;
  }
  #maker-lifestyle #money, #maker-lifestyle #car {
    margin-top: 109px;
  }
  #maker-lifestyle .layout {
    margin-top: 0;
  }

  /* PRICING SECTION | MQ 1440 */
  #pricing {
    margin-bottom: 810px;
  }
  #pricing .pricing-info {
    width: 540px;
    height: 118px;
    margin: 95px 450px 20px 360px;
  }
  #pricing .h2-title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
  }
  #pricing #price-container {
    width: 920px;
    height: 482px;
    margin: 0 165px;
    margin-top: 108px;
  }
  #pricing .price-free {
    height: 425px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 3px;
    top: 14px;
  }

  /* PAID | MQ 1440 */
  .price-paid {
    height: 382px;
    margin: 0;
    top: -419px;
    right: -443px;
  }

  .dollar-amount {
    margin-top: -28px;
    margin-left: 30px;
  }

  /* FOOTER | MQ 1440 */
  #get-notified {
    width: 100%;
  }

  .notified-img {
    width: 1665px;
    height: 228px;
    margin-top: 0;
  }

  .notification-txt {
    width: 730px;
    height: 134px;
    margin-left: 350px;
    margin-bottom: 159px;
    margin-top: -185px;
  }
  .notification-txt .notified-title {
    font-family: "Manrope", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0px;
  }
}/*# sourceMappingURL=style.css.map */